/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 16 may. 2022, 22:30:48
    Author     : EPT
*/
body {
    background: white;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    img {  /* Galeria de imagenes */
        vertical-align: middle;
    }
}

/*   Banner o Header*/

.header{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    opacity: 0.9;

}

.flex-left {
    padding: 10px;
    flex: 20%;
}

.flex-right {
    padding: 10px;
    flex: 80%;
    background-color:white;
    opacity:1;
}

.Texto {
    font-size: 20px;
    text-align: center;
}

.logo{
    text-align: left;
}
.Titulo{
    text-align: center;
}

/*Reglas para el MENU NAV de estilos*/

#topnav {
    overflow: hidden;
    background-color: #0099ff;
    width: 100%;
    opacity: 0.8;

}

#topnav a{/*Contenedor principal*/
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

#topnav a:hover {
    background-color: #0099ff;
    color: white;
}

/* Create a right-aligned (split) link inside the navigation bar */
.icon {
    float: right;
    background-color: #0099ff;
}

.split {
    float: right;
    color: white;
}

.active {
    background-color: #04AA6D;
}

/* Menu lateral */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The image used */
.bg-img1, .bg-img2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* First image (Logo. Full height) */
.bg-img1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("ortho-banner.jpeg");
    min-height: 800px;

}

.bg-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bg-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #0d8bf2;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
}

.bg-text button:hover {
    background-color: #04AA6D;
    color: white;
}


.bg-img2{
    background-image: url("ortho-portada.jpg");
    min-height: 400px;
}



/* Deja el MENU fijo */
.main {
    padding: 10px;
    margin-top: 10px;
    height: 1500px; /* Used in this example to enable scrolling */
}

/* pegajoso menu JavaScrip*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
}

.column {
    float: left;
    width: 25%;
    text-align: center;
    background-color:  white;
    /*margin: 10px; Establece el margen de los elementos*/
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container{
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}


/* Style the footer */
footer {
    background-color: #0099ff;
    padding: 10px;
    text-align: center;
    color: white;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/* Responsive layout - makes a two column-layout instead of four columns */

@media only screen and (min-width: 700px) {
    .icon {
        display: none;
    }
}


@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
    .split{
        display: none;
    }
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bg-img1, .bg-img2 {
        background-attachment: scroll;
        min-height: 400px;
    }
}

/* Menu lateral */
@media screen and (max-height: 700px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

